<form action="" class="form-book">
  <fieldset class="form-group">
    <legend>Add Book</legend>
    <label for="authors">Authors</label>
    <input
      type="text"
      name="authors"
      id="authors"
      placeholder="Edgar Allan Poe"
    />
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="The tale-tell heart"
    />
    <label for="authors">Pages</label>
    <input type="number" name="pages" id="pages" placeholder="0" />
    <label for="reference">Text Reference</label>
    <input type="text" name="reference" id="reference" placeholder="No idea" />
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="pedrito" />
    <button>Add</button>
  </fieldset>
</form>
