.form-book{
  font-family: 'Roboto', sans-serif;
}

.form-group{
  display: grid;
  row-gap: 5px;
}

fieldset{
  border-radius: 1.25rem;
  padding: 1.25rem;
  border-color: coral;
}

legend{
  font-weight: 700;
  font-size: 2rem;
}

input{
  border: 2px solid coral;
  border-radius: 5px;
  padding: 12px;
}

label{
  font-weight: 500;
  font-size: 1rem;
}

button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.125rem;
  background-color: coral;
}

button:active{
  background-color: white;
  color: coral;
  border: 2px solid coral;
  transform: scale(1.05);
}

button:hover{
  background-color: white;
  color: coral;
  border: 2px solid coral;

}

span{
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
.error{
  background-color: #ffdfd4;
}

.success{
  background-color: #dbeddc;
}
